body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: cornflowerblue;
    color: azure;
    font-size: xx-large
    ;
    
}

button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    background-color: lavender;
    border-radius: 20%;
}

input {
    font-size: xx-large;
}

